# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE
.idea/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Testing
.pytest_cache/

# Flask
instance/

# Distribution / packaging
dist/
build/
*.egg-info/
